body{
    background-image: url("background.jpg");
    text-align: center;
    font-size: 25px;
    font-family: 'Itim', cursive;
}
.div1{
    float: left;
    font-size: 25px;
}
.div2{
    float: right;
    font-size: 20px;
}
#play{
    margin: 20px;
    font-size: 20px;
}
#stop{
    margin: 20px;
    font-size: 20px;
}
.h11{
    font-size: 20px;
}
.h22{
    font-size: 20px;
}
.h33{
    font-size: 25px;
}
.span1{
    font-size: 25px;
}
.h55{
    font-size: 25px;
}